body{
    background-color: #d8f8ff;
    font-family: sans-serif;
    margin: 50px;
}

div{
    overflow: hidden;
    margin: 100px;
    position: relative;
}

p{
    height: 100%;
    width: 100%;
    line-height: 100px;
    margin: 0px;
    background-color: white;
    text-align: center;
    font-size: 2.5rem;
    border-top: 2px solid black;
}

.next{
    position: absolute;
    top: 100px;
}

.animate{
    transition: all 0.5s;
    top: 0px;
}